body {
  margin: 0;
  background-color: rgb(39, 39, 39);
  display: flex;  
  flex-direction: column;
  
}
.rubrik {
  color: yellow;
  font-size: 4rem;
  text-align: left;
  width: 90%;
  margin: 0 auto;
  padding: 10% 5% 5% 5%;
  font-family: 'Prompt', sans-serif;
}
.logo {
  height: 5rem;
  padding-top: 1rem;
  padding-left: 1rem;
}
.titel {
    color: #FFFFFF;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #fffb2d 0px 0px 20px, #fbff2d 0px 0px 30px, #fbff2d 0px  0px 40px, #ffd82d 0px 0px 50px, #fff12d 0px 0px 75px;
    font-size: 2rem;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    padding-top: 15%;
    font-family: 'Prompt', sans-serif;
}
.h-100 {
  height: 100%;
}
a {
  text-decoration: none;
  color:white;
}
.home {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  position: fixed;
  bottom: 0;
  font-family: 'Prompt', sans-serif;
  font-size: .7rem;
}
.footer {
  margin-top: 10rem;
  padding-top: 10rem;
  color: #000000;
}

nav {
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  display: flex;
  background-color: rgb(3, 3, 3);
  border-bottom: rgb(255, 217, 0)  5px solid;
  
}

nav ul {
  width: 100%;
  justify-content: space-between;
  display: flex;
  font-size: 1.5rem;
}
nav ul li {
  padding: .8rem 1.5rem 0 1.5rem;
  font-family: 'Prompt', sans-serif;;
  font-size: 2rem;
  list-style: none;
  

}

a:hover {
  color: #fbff2d;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.2s;
}
.dtext {
  margin: 0 auto;
  padding: 5%;
  font-family: 'Prompt', sans-serif;
  color: #D7263D;
  font-size: 1.5rem;
}
.text {
  padding: 5%;
  margin: 0 auto;
  color: #1D689A;
}
div ul li {
  list-style: none;
  font-size: 1.5rem;
  color: white;
  
  font-family: 'Prompt', sans-serif;
}
div ul {
  color: #D7263D;
  margin: auto 5%;
}