body {
  margin: 0;
  background-color: rgb(39, 39, 39);
  display: flex;  
  flex-direction: column;
  
}
.rubrik {
  color: yellow;
  font-size: 4rem;
  text-align: left;
  width: 90%;
  margin: 0 auto;
  padding: 10% 5% 5% 5%;
  font-family: 'Prompt', sans-serif;
}
.logo {
  height: 5rem;
  padding-top: 1rem;
  padding-left: 1rem;
}
.titel {
    color: yellow;
    font-size: 2rem;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    padding-top: 15%;
    font-family: 'Prompt', sans-serif;
}
.h-100 {
  height: 100%;
}
a {
  text-decoration: none;
  color:white;
}
.footer {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  position: fixed;
  bottom: 0;
  font-family: 'Prompt', sans-serif;
  font-size: .7rem;
}


nav {
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  display: flex;
  background-color: rgb(3, 3, 3);
  border-bottom: rgb(255, 217, 0)  5px solid;
  
}

nav ul {
  width: 100%;
  justify-content: space-between;
  display: flex;
  font-size: 1.5rem;
}
nav ul li {
  padding: .8rem 1.5rem 0 1.5rem;
  font-family: 'Prompt', sans-serif;;
  font-size: 2rem;
  list-style: none;
  

}

a:hover {
  color: #fbff2d;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.2s;
}
.dtext {
  margin: 0 auto;
  padding: 5%;
  font-family: 'Prompt', sans-serif;
  color: #D7263D;
  font-size: 1.5rem;
}
.text {
  padding: 5%;
  margin: 0 auto;
  color: #1D689A;
}
.a {
  list-style: none;
  font-size: 1.5rem;
  color: #D7263D;
  margin: auto 10%;
  font-family: 'Prompt', sans-serif;
}
.q {
  list-style: none;
  font-size: 1.5rem;
  color: white;
  margin: auto 5%;
  font-family: 'Prompt', sans-serif;
}
@media(max-width: 375px) { 
  .titel {
    font-size: 1rem;
    padding-top: 45%;
  }
  .logo {
    height: 3rem;
    float: left;
    padding-top: .1rem;
    padding-left: .1rem;
  }
  nav {
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    display: flex;
    background-color: rgb(3, 3, 3);
    border-bottom: rgb(255, 217, 0)  5px solid;
    
  }
  nav ul {
    width: 100%;
    font-size: .3rem;
  }
  nav ul li {
    padding: .2rem .2rem .2rem .2rem;
    font-family: 'Prompt', sans-serif;;
    font-size: 2rem;
    list-style: none;
  }
}